rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /aggregations/{document} {
      allow create: if false;
      allow read: if request.auth.uid == resource.data.title;
      allow write: if false;
      allow delete: if false;
    }

    match /notes/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /labels/{document} {
      allow create: if request.auth.uid == request.resource.data.name;
      allow read: if request.auth.uid == resource.data.name;
      allow write: if request.auth.uid == resource.data.name;
      allow delete: if request.auth.uid == resource.data.name;
    }

    match /countries/{document} {
      allow create: if false;
      allow read: if request.auth.uid == resource.data.name;
      allow write: if false;
      allow delete: if false;
    }

    match /favorite_aggregations/{document} {
      allow create: if request.resource.data.userId == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.userId == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.userId == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.userId == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /aggregation_categories/{document} {
      allow create: if false;
      allow read: if request.auth.uid == resource.data.name;
      allow write: if false;
      allow delete: if false;
    }

    match /pinnedNotes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /test/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
